.table th{ white-space: nowrap;vertical-align: middle;}
.table th, .table td{
    text-align: center;
    vertical-align: middle;
}
.form-horizontal label.radio-inline{
    padding-top: 0;
}
.table tbody tr td{
    vertical-align: middle;
}
ul.page-breadcrumb a:hover, ul.page-breadcrumb a:link, ul.page-breadcrumb a:visited{
    text-decoration: none;
}

.page-header.navbar .page-logo .logo-default {
    height: 52px;
    margin-top: 3px;
}